<%- include("partials/head.ejs") %>

    <!-- Formulario para agregar funciones -->
    <form id="alta-funciones-container" class="form-alta">  
    </form>
        <button id="btn-cancelar-creacion-funcion">Cancelar</button>

        <script src="./js/crear-funciones.js"></script>

<%- include("partials/footer.ejs") %>