<%- include("partials/head.ejs") %>

    <main>

        <section id="updateFormContainer"></section>

    </main>
    
    <script src="js/editar-funcion.js"></script>

<%- include("partials/footer.ejs") %>