<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>
    
    <main>
        <section id="filtros">
            <label for="filtro-nombre-id">Nombre o Id:</label>
            <input  id="filtro-nombre-id" type="text">
            <button id="btn-cartelera">En cartelera</button>
            <button id="btn-preventa">En preventa</button>
        </section>
        <button id="agregar-pelicula">Agregar pelicula</button>
        
        <section id="contenedor-peliculas"></section>
        <script src="js/peliculas-admin.js"></script>
        
    </main>

<%- include("partials/footer.ejs") %>

