<header>
        <nav>
            <ul>
                <li><a href="/dashboard">Películas</a></li>
                <li><a href="/funciones">Funciones</a></li>
                <li><a href="/candy">Candy</a></li>
            </ul>
         </nav>
</header>